In [ ]:
pip install yfinance

In [30]:
import pandas as pd 
import yfinance as yf

In [ ]:
# Crear el objeto del ticker
ticker = yf.Ticker("GGAL.BA")

# Obtener datos hist√≥ricos
GGAL = ticker.history(start="2000-07-26", end="2025-05-16")

# Mostrar las columnas disponibles
print(GGAL.columns)

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [23]:
GGAL.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-07-26 00:00:00-03:00,1.514586,1.532096,1.488322,1.514586,422242,0.0,0.0
2000-07-27 00:00:00-03:00,1.532096,1.540851,1.514586,1.532096,344044,0.0,0.0
2000-07-28 00:00:00-03:00,1.505832,1.523341,1.497077,1.505832,561980,0.0,0.0
2000-07-31 00:00:00-03:00,1.532096,1.540851,1.479567,1.532096,381111,0.0,0.0
2000-08-01 00:00:00-03:00,1.540851,1.628400,1.479567,1.540851,1968000,0.0,0.0
2000-08-02 00:00:00-03:00,1.558361,1.567115,1.540851,1.558361,857294,0.0,0.0
2000-08-03 00:00:00-03:00,1.505832,1.558361,1.505832,1.505832,698377,0.0,0.0
2000-08-04 00:00:00-03:00,1.505832,1.532096,1.497077,1.505832,532284,0.0,0.0
2000-08-07 00:00:00-03:00,1.523341,1.523341,1.488322,1.523341,373483,0.0,0.0
2000-08-08 00:00:00-03:00,1.532096,1.532096,1.505832,1.532096,760704,0.0,0.0

In [ ]:
GGAL.to_csv("GGAL.csv", index=True)

In [ ]:
# Leer el Archivo CSV y cargarlo al Data Frame
# GGAL = pd.read_csv("GGAL.csv", index_col=0, parse_dates=True)