In [9]:
import requests
import pandas as pd

# Token provisto por estadisticasbcra.com
token = "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NzkxNTA5ODksInR5cGUiOiJleHRlcm5hbCIsInVzZXIiOiJtb3JhbGVzcGJsQGhvdG1haWwuY29tIn0.kKIaSrL2PsGX3WVLqaQLACU6FNVp4qSfwtKIENqxOv_8CuOBnlJYNDYi5ZFEoZqGJfgOfRNWHqSiuEGI2UUfWg"

# Endpoint de la tasa de pases pasivos (tasa de referencia del BCRA)
url = "https://api.estadisticasbcra.com/leliq"


# Header con autenticación
headers = {"Authorization": f"BEARER {token}"}

# Hacer la solicitud
response = requests.get(url, headers=headers)

# Procesar respuesta
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    df['d'] = pd.to_datetime(df['d'])
    df.rename(columns={'d': 'Fecha', 'v': 'Tasa'}, inplace=True)
    print(df.tail())  # Mostrar las últimas filas
else:
    print("Error:", response.status_code)
    print(response.text)

          Fecha  Tasa
1493 2024-03-06  3000
1494 2024-03-07  3000
1495 2024-03-08  3000
1496 2024-03-11  3000
1497 2024-03-12  3000

In [10]:
df

          Fecha   Tasa
0    2018-01-11   4030
1    2018-01-12  19309
2    2018-01-15  34687
3    2018-01-16  38605
4    2018-01-17  47605
...         ...    ...
1493 2024-03-06   3000
1494 2024-03-07   3000
1495 2024-03-08   3000
1496 2024-03-11   3000
1497 2024-03-12   3000

[1498 rows x 2 columns]

In [11]:
df.to_csv("tasa_leliq.csv", index=False)